---
---

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
/*
@import url(http://fonts.googleapis.com/css?family=Quattrocento);
*/

$text-color: #646464;
$subtitle-text-color: #555;
$muted-text-color: #666;
$link-color: #268bd2;

$background-color-1: #fff;
$background-color-2: #272733;
$background-color-3: #6B484C;
$background-color-4: #567987;

body {
  font: 1.05em/1.5 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $text-color;
  font-weight: 300;
  letter-spacing: -0.01em;
  background-color: $background-color-1;
}

h1, h2, h3, h4, h5, h6, strong, b {
    font-weight: 600;
}

blockquote {
    font-family: 'Quattrocento', serif;
    font-weight: 400;
    margin: 25px 0;
}

a:hover {
    text-decoration: none;
    color: #000;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-center {
    text-align: center;
}

.container {
    padding: 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container.home {
    height: 100vh;
}

.masthead {
    text-align: center;
    margin-bottom: 1em;
    border-bottom: 1px solid #f5f5f5;
}

.home .masthead {
    border: 0;
}

.masthead-title {
    font-weight: 700;
    font-size: 2em;
}

.masthead-subtitle {
    margin: 0;
    color: $subtitle-text-color;
    font-weight: 300;
    text-transform: uppercase;
    font-size: .85em;
    margin-top: .25em;
    margin-bottom: 1em;
}

.masthead .desc {
    margin: 0;
    margin-bottom: .5em;
    line-height: 1.2;
    color: $muted-text-color;
    font-size: .9em;
}

.desc small {
    font-weight: lighter;
}

.desc.no-margin { 
    margin: 0; 
}

.mb-1 {
    margin-bottom: 1em;
}

.mb-2 {
    margin-bottom: 2em;
}

.muted {
    color: $muted-text-color;
}

.masthead-menu {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: 1em;
}

.masthead-menu li {
    display: inline-block;
}

.masthead-menu li a {
    padding: .5em;
    font-size: .85em;
}

.masthead-photo {
    text-align: center;
    margin-top: 2em;
}

.masthead-photo img {
    display: inline-block;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
}

.post-title, .masthead-title, .masthead-subtitle {
    letter-spacing: -0.04em;
}

.post-date {
    margin-top: -.25em;
}

.footer {
    border-top: 1px solid #f5f5f5;
    margin-top: 30px;
    padding: 20px 0;
    text-align: center;
    font-size: .8em;
    color: #999;
}

/* About page */

@media (min-width: 28em) {
    .about-photo {
        float: right;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .about-photo img {
        width: 220px;
        display: inline-block;
    }
}

@media (max-width: 28em) {
    .left, .right, img { 
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    img {
        width: 100%;
    }
}

@media (max-width:50em) {
    .container {
        padding: 0 20px;
    }
}

.dark {
    &, h1, h2, h3, h4, h5, h6, .masthead-menu li a, .footer, a {
        color: white;
    }

    .muted {
        color: lighten($color: $muted-text-color, $amount: 20);
    }
}

.block-2 {
    &.container {
        background-color: $background-color-2;
    }
}

.block-3 {
    &.container {
        background-color: $background-color-3;
    }
}

.block-4 {
    &.container {
        background-color: $background-color-4;
    }
}

.posts-list {
    list-style: none;
    margin-top: 2em;
    
    .post-list-item {
        display: inline-flex;
        flex-direction: column;

        a, span {
            display: inline-block;
        }
    }
}
