---
---

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

/*
@import url(http://fonts.googleapis.com/css?family=Quattrocento);
*/

$text-color: #646464;
$subtitle-text-color: #555;
$muted-text-color: #666;
$link-color: #268bd2;

:root {
    --primary-color: #003060;
    --secondary-color: #BD6E6D;
    --tertiary-color: #001024;
    --bg-color: #fff;
    --accent-color: #268bd2;

    --text-color: #646464;
    --muted-text-color: #666;
    --heading-color: #555;

    --dark-primary-color: #fff;
    --dark-text-color: #fff;
}

[data-theme=dark] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --tertiary-color: #001024;
    --text-color: #e1e1ff;
    --muted-text-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}

body {
  font: 1.05em/1.5 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--text-color);
  font-weight: 300;
  letter-spacing: -0.01em;
  background-color: var(--bg-color);
}

h1, h2, h3, h4, h5, h6, strong, b {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6, strong, b, .page-title, .post-title {
    color: var(--heading-color);
}

blockquote {
    font-family: 'Quattrocento', serif;
    font-weight: 400;
    margin: 25px 0;
}

// links
.fab.link-g::before { content:"\f09b"; }
.fab.link-i::before { content: "\f16d"; }
.fab.link-l::before { content: "\f08c"; }
.fab.link-t::before { content: '\f099'; }

a, a:hover, a:focus {
    text-decoration: none;
    color: var(--accent-color);
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-center {
    text-align: center;
}

.container {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container.home {
    height: 100vh;
}

.masthead {
    text-align: center;
    margin-bottom: 1em;
    border-bottom: 1px solid #f5f5f5;
}

.home .masthead {
    border: 0;
}

.masthead-title {
    font-weight: 700;
    font-size: 2em;

    a {
        color: var(--heading-color);
    }
}

.masthead-subtitle {
    margin: 0;
    color: var(--heading-color);
    font-weight: 300;
    text-transform: uppercase;
    font-size: .85em;
    margin-top: .25em;
    margin-bottom: 1em;
}

.masthead .desc {
    margin: 0;
    margin-bottom: .5em;
    line-height: 1.2;
    color: var(--heading-color);
    font-size: .9em;
}

.desc small {
    font-weight: lighter;
}

.desc.no-margin { 
    margin: 0; 
}

.mb-1 {
    margin-bottom: 1em;
}

.mb-2 {
    margin-bottom: 2em;
}

.muted {
    color: var(--muted-text-color);
}

.masthead-menu {
    list-style: none;
    overflow: auto;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: 1em;
}

.masthead-menu li {
    display: inline-block;
}

.masthead-menu li a {
    padding: .5em;
    font-size: .85em;
}

.masthead-photo {
    text-align: center;
    margin-top: 2em;
}

.masthead-photo img {
    display: inline-block;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
}

.post-title, .masthead-title, .masthead-subtitle {
    letter-spacing: -0.04em;
}

.post-date {
    margin-top: -.25em;
}

.footer {
    border-top: 1px solid #f5f5f5;
    margin-top: 30px;
    padding: 20px 0;
    text-align: center;
    font-size: .8em;
    color: var(--muted-text-color);
}

/* About page */

@media (min-width: 28em) {
    .about-photo {
        float: right;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .about-photo img {
        width: 220px;
        display: inline-block;
    }
}

@media (max-width: 28em) {
    .left, .right, img { 
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    img {
        width: 100%;
    }
}

@media (max-width:50em) {
    .container {
        padding: 0 20px;
    }
}

.dark {
    color: var(--dark-text-color);

    &, h1, h2, h3, h4, h5, h6, .masthead-menu li a, .footer, a {
        color: var(--dark-primary-color);
    }

    .muted {
        color: var(--dark-text-color); // lighten($color: $muted-text-color, $amount: 20);
    }
}

.block-2 {
    &.container {
        background-color: var(--accent-color);
    }
}

.block-3 {
    &.container {
        background-color: var(--bg-color);
    }
}

.block-4 {
    @extend .dark;

    &.container {
        background-color: var(--tertiary-color);
    }
}

.block-5 {
    &.container {
        background-color: var(--bg-color);
    }
}

.posts-list {
    list-style: none;
    margin-top: 2em;
    
    .post-list-item {
        display: inline-flex;
        flex-direction: column;

        a, span {
            display: inline-block;
        }
    }
}