<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <div class="container content">
      <div class="masthead">
        <h1 class="masthead-title">
          <a href="/" title="{{ site.title }} - {{ site.tagline }}">
            {{ site.title }}
            <small class="subtitle">(@luish)</small>
          </a>
        </h1>
        
        <p>
          <ul class="masthead-menu">
            <li><a href="/">Home</a></li>
          {% for page in site.pages_list %}
            <li><a href="{{ page[1] }}">{{ page[0] }}</a></li>
          {% endfor %}
          </ul>
        </p>
      </div>

      {{ content }}

      {% include footer.html %}
    </div>

      {% include disqus.html %}
  </body>
</html>
